@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-sans bg-light text-dark antialiased;
  }
}